body
{
	background-image:url('../images/Mn.jpg');
	background-size:100% 100%;

}

header
{
	background:#ddd;
	position:fixed;
	width:100%;
	margin:-8px -8px 20px -8px;
	padding:20px;
	transition:0.5s;
	z-index:1
}

header:hover {background:#cceeff;}

a {text-decoration:none; color:black; padding:20px}

.home 
{
	background:blue;
	color:#fff;
	margin:10px;
	padding:10px
}

.as {float:right; margin-right:50px}

.ar {float:right; border:none; padding:10px; margin-top:-9px}

.rs {float:right; margin-right:-250px}

.pp {margin-left:-20px}






nav ul {margin-top:50px;color:#fff; list-style:none; position:fixed;}

nav a{ color:#fff}

.R 
{
	transition:0.5s;
	background:#0066ff;
	margin:5px;
	padding:10px;
	margin-left:-100px;
	width:60px
}

.Rr
{
	transition:0.5s;
	background:#00a1ff;
	margin:5px;
	padding:10px;
	margin-left:-100px;
	width:60px
}

.Rf
{
	transition:0.5s;
	background:#007eff;
	margin:5px;
	padding:10px;
	margin-left:-100px;
	width:60px
}

.R:hover,.Rr:hover,.Rf:hover {width:80px; margin-left:-50px; background:#00cfff}




section {text-align:center}

section audio
{
	margin:auto;
	margin-top:90px;
	margin-left:100px;
	text-align:center;
	width:2%;
	
}

audio:hover {width:80%}



video {margin-left:100px; margin-top:30px}




article form { background:#000000c2; padding:10px; margin:40px}

article form:hover{background-image:url('../images/3-4-1.jpg'); background-size:100% 100%}

article {text-align:center}

article p 
{
	background:#11506fc9;
	border-radius:200px;
	padding:20px;
	margin:50px;
	color:#cceeff
}

article label {color:#fff;}

article .aa {margin:20px; width:800px; padding:20px; border-radius:200px; background:#11506fa6; color:#cceeff}

.su {width:100px; background:#0066ff; margin:20px; border-radius:200px; padding:10px}
.sum {width:100px; background:#25a5ff; margin:20px; border-radius:200px; padding:10px}



