body{background:#000}
*
{
	font-family:"comic sans ms";
	text-transform:capitalize
}

.div1
{
	background-color:rgba(0,0,0,0.4);
	color:#fff;
	position:fixed;
	width:100%;
	margin:25px;
	
	margin-left:2px;
	
	
}
.container
{
	width:790px;
	margin:auto
}


.header 
{
	height:740px;
	background-image:url("images/image1.jpg");
	background-size:100% 100%;
	margin-left:-9px;
	margin-right:-9px;
	margin-top:-8px;
}
.div1 h2
{
	float:left;
	font-weight:bold;
	font-size:40px;
	color:green;
	line-height:0px
}

.header .navbar
{
	position:fixed;
	right:40px;
}

.header .navbar ul
{
	list-style:none;
	float:right;
	width:496px;
}


.header .navbar ul li
{
	display:inline-block;
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px
}

.header .navbar ul li:hover
{
	background-color:rgba(25,159,90,0.4);
	
	cursor:polnter
}

.header .navbar ul li:hover > ul
{
	display:block;
	width:120px
}

ul ul
{
	width:120px;
	display:none;
	padding:0;
	padding-top:5px;
	margin:0;
	background-color:black
}
	
.header .test
{
	position:absolute;
	top:340px;
	right:400px;
	line-height:30px;
	color:#fff
}

.header .test h2{right:20%;position:absolute;bottom:80%}

.header .test button
{
	padding:10px;
	background-color:#199f5a;
	border:none;
	min-width:120px;
	color:#fff;
	margin-left:25px
}


.header .test button:hover
{
	border:2px solid #000
}

.sample1
{
	
	background:#dddddd2e;
	margin:100px -9px;
	overflow:hidden;
	
	
}

.image {width:370px;height:300px;margin:15px;padding-left:20px;padding-top:20px}

.sample1 .test1
{
	width:40%;
	float:right;
	margin:15px;
	padding-left:20px;
	color:#fff
}

.test2
{
	background-image:url('images/image4.jpg');
    	padding:90px;
	background-attachment:fixed;
	background-size:100% 100%;
	margin-left:-9px;
	margin-right:-9px;
	
}

.test2 p
{
	margin-left:230px;
	font-weight:bold;
	font-size:25px;
	color:#fff
	
}

.test2 p span{color:green;}

.sample3
{
	overflow:hidden;
	color:#fff;
	text-align:center;
	margin-top:120px;
	color:#fff
}

.sample3 .test3 > div
{
	float:left;
	width:33.333333%;
	margin-bottom:-35px
}

.sample3 .test3 > div img
{
	width:95%;
	margin:20px
}

.sample3 .test3 .A1
{
	margin-top:250px
}

.sample3 .test3 .A2{width:95%;margin-top:-189px;margin-left:20px}

.sample3 .test3 .A3{width:95%;margin-top:-1000px;margin-left:20px;height:440px;margin-bottom:0px}

.sample3 .test3 .A4{width:95%;margin-left:280px}



.sample4 
{
	background:#ddddddc9;
	margin:100px -9px;
	overflow:hidden;
}

.img 
{
	
	background-image:url('images/image10.png');
	padding:25px;
	background-size:100% 100%;
	margin:20px;
	
	
}

.img p {font-size:12px;text-align:center;}

.img span {color:pink;text-decoration:line-through}

.sample5 
{
	width:100%;
	height:750px;
	background-image:url('images/image3.jpg');
	background-attachment:fixed;
	background-size:100% 100%;
	overflow:hidden;
	margin-top:-66px
}
