


.test
{
	background:#333;
	position:fixed;
	width:100%;
	margin-top:-20px;
	margin-left:-8px;
	z-index:6 
}

.home
{
	background:green;
	margin:10px;
	margin-top:26px;
	padding:10px ;
        float:left;	 	
}
.R
{
	float:right;
	margin:20px 5px;
	padding:10px
}
a 
{
	text-decoration:none;
	color:white;
	padding:5px
}
.R a:hover {background:#ddd;}




nav ul {list-style:none}


.about,.blog,.projects,.contact
{
	position:fixed;
	left:-100px;
	transition: 0.5s;
	padding:5px;
	width:110px;
	font-size:20px;
	color:#fff;
	margin:0px;
	z-index:5
}

.about {background:#6f1153fc;top:80px}

.blog {background:#00cfff;top:120px}

.projects {background:#d0f;top:160px}

.contact {background:coral;top:200px}

.about:hover
{
	width:100px;
	left:0;	
}

.blog:hover
{
	width:100px;
	left:0;	
}

.projects:hover
{
	width:100px;
	left:0;	
}

.contact:hover
{
	width:100px;
	left:0;	
}

.article1 
{
	background-image:url('../images/Medal.jpg');
	margin-right:-8px;
	margin-top:20px;
	margin-left:-8px;
	padding:40px;
	background-size:100% 100%;
	background-attachment:fixed
}

h4
{
	background:rgba(0,220,255,0.38);
	margin:-10px;
	margin-right:80px;
	margin-left:10px;
	padding:20px;
	color:#fff
}


.article1 details{color:#fff}


.article2 
{
	background-image:url('../images/AS.jpg');
	margin-right:-8px;
	margin-top:20px;
	margin-left:-8px;
	padding:40px;
	background-size:100% 100%;
	background-attachment:fixed
}

input {background:#6f1153bf;padding:20px;margin:10px 10px;width:860px;color:#fff}





article
{
	background-image:url('../images/Lm.jpg');
	margin-right:-8px;
	margin-top:20px;
	margin-left:-8px;
	padding:40px;
	background-size:100% 100%;
	background-attachment:fixed
}

div { background:#ff253a82;padding:20px; margin:10px 20px;color:#fff}





footer
{
	background-image:url('../images/Af.jpg');
	margin-right:-8px;
	margin-top:70px;
	
	margin-left:-8px;
	padding:20px;
	background-size:100% 100%;
	text-align:center;
	color:#fff;
	background-attachment:fixed
}

