
.test
{
	background:#333;
	padding:5px;
	position:fixed;
	width:100%;
	margin-top:-20px
	
}
.home
{
	background:green;
	margin:10px;
	padding:10px ;
    float:left;
    	
}
.R
{
	float:right;
	margin:20px
}
a 
{
	text-decoration:none;
	color:white;
}
.R a:hover
{
	background:#ddd;
	margin:10px;
	padding:10px
}
.div{margin:30px;padding:30px}
.test1
{
	border:2px solid red;
	display:inline-block;
	width:200px;
	min-height:350px;

	margin: -1px;
	padding:20px;
	text-align:center;
}
.img
{
	width:200px;
	height:200px;
}
h2
{
	text-transform:capitalize
}
.test1:hover p
{
	
	display:inline-block
}
.test1 p 
{
	text-transform:capitalize;
	display:none
}
.test3
{
	background-image:url('imegis/Aapple.jpg');
    padding:90px;
	background-attachment:fixed
}
.test4
{
	background:#fff;
	margin:60px;
	padding:20px;
	text-transform:uppercase
}
.test5
{
	background-image:url('imegis/Medal.jpg');
	margin:60px;
    padding:30px;
	background-attachment:fixed
}
.test6
{
	background-color:rgba(147,38,38,0.6);
	padding:10px 15px;
	direction:rtl
}
.test7
{
	background-color:rgba(147,38,38,0.6);
    padding:10px 15px;
}
	

	
