			/********** stert header *********/
			.head1
{
	background:#333;
	position:fixed;
	width:100%;
	padding:20px;
	top:0;
	left:0;
	text-align:center;
	font-size: 20px;
	z-index:2
}


.toggle
{
	display:none;
	margin-top: 4px;
	width:150px;
	float:right;
	position:relative;
}

.head1 .switch
{
	position:relative;
	background:#3b5998;
	margin:5px;
	width:70px;
	float:right;
	height:35px;
}
.switch .slider
{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	cursor:pointer;
	transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle input {display:none}

.toggle input:checked + .slider {
  background-color:#211d1d;
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle input:checked ~ .minn {
  display: block !important;
  position: fixed;
  right: 0;
  background-color: #ccc;
  top: 70px;
}

@media(max-width:680px)
{
	.gg{
		display:none
	}
	
	.toggle{
		display:block
	}
}

.minn 
{
	width:340px;
	height:215px;
	font-size:20px;
	background:#3f729b;
	top:25px;
	position:absolute;
	right: -365px;
	transition: right .5s ease-in-out;
}
.minn li
{
	list-style:none;
	padding:10px;
	cursor:pointer;
	width:340px;
	text-align:center;
}
.minn li:hover
{
	background: #3f729b;
    color: #fff;
    transition: all 1.5s ease-in-out;
}



.head1 a 
{
	padding:20px;
	padding-top:18px;
	text-decoration:none;
	margin:10px;
	color: #fff
}

.head1 a:hover
{
	background:rgba(255, 255, 255, .3);
	transition: all 1s ease-in-out;
	border: 2px solid #C99E67
}

			/********** end header ***********/
			
			
			/********** start section1 ***********/
.section1
{
	background-image:url('../images/80.jpg');
	background-size: 100% 100%;
    margin-top: 120px;
    padding: 20px;
	background-attachment:fixed;
	display:flex;	
}

.head2,#hed{display:inline-block;width:50%}
	
.head2 input
{
	
	margin: 30px;
    width: 40%;
    padding: 10px;
	border-radius:50px;
	color: #eee;
    background: #3f729b;
}
	
.head2 button
{
	margin: 30px;
	width: 48%;
    padding: 10px;
	border-radius:50px;
	color: #eee;
    background: #3f729b;
}

#hed 
{
	background:#ccc;
	width:40%;
	height: 200px;
	text-align:center;
	margin-left:60px;
	
}
	
.container
{
	width:790px;
	margin:50px;
	
}
	
			/********** end section1 ***********/
			
			
			
			/********** start section2 ***********/
			
.section2 
{
	background-image:url('../images/18.jpg');
	background-size: 100% 100%;
    margin-top: 120px;
    padding: 20px;
	background-attachment:fixed;
	text-align:center
	/*display:flex;*/
}

.head3,#hed1 {display:inline-block;width:50%}
			
#hed1
{
	background:#fff;
	padding: 20px;
    text-transform: capitalize;
	/*width:40%;
	height: 200px;*/
	text-align:center;
	margin-left:60px;
	
}			

			
.head3 input
{
	
	margin: 30px;
    width:40%;
    padding: 10px;
	border-radius:50px;
}
	
.head3 button
{
	margin: 30px;
	width: 48%;
    padding: 10px;
	border-radius:50px;
}			
		
			/********** end section2 ***********/
			
			
			/********* start header2 **********/
			
.columns
{
	margin-bottom:30px;
	text-align:center;
	margin-top:100px;
	padding:30px; 
	background:#dddddd96;
	overflow:hidden;
	width:94%; 
	/*height:400px;*/
	overflow:hidden;
	text-overflow:ellipsis;
	
	column-count:3;

	column-rule:3px solid #ccc;

	column-gap:20px;

	column-width: 200px;

	-webkit-box-shadow:3px 3px 9px #ff253abd,
			           -3px -3px 9px #0037ffad;
					   
	-moz-box-shadow:3px 3px 9px #ff253abd,
			        -3px -3px 9px #0037ffad;
			   
	box-shadow:3px 3px 9px #ff253abd,
			   -3px -3px 9px #0037ffad;
}

.columns .bold {text-decoration:none; color:#000000; font-size: 30px;}

.i {font-size: 25px;}


			
			
			
			
			
			/********* end header2 ************/