* 
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.head1
{
	background:#333;
	position:fixed;
	width:100%;
	padding:20px;
	top:0;
	left:0;
	text-align:center;
	font-size: 20px;
	z-index:2
}


.toggle
{
	display:none;
	margin-top: 4px;
	width:150px;
	float:right;
	position:relative;
}

.head1 .switch
{
	position:relative;
	background:#3b5998;
	margin:5px;
	width:70px;
	float:right;
	height:35px;
}
.switch .slider
{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	cursor:pointer;
	transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input {display:none}

input:checked + .slider {
  background-color:#211d1d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked ~ .minn {
  display: block !important;
  position: fixed;
  right: 0;
  background-color: #ccc;
  top: 70px;
}

@media(max-width:680px)
{
	.gg{
		display:none
	}
	
	.toggle{
		display:block
	}
}

.minn 
{
	width:340px;
	height:215px;
	font-size:20px;
	background:#3f729b;
	top:25px;
	position:absolute;
	right: -365px;
	transition: right .5s ease-in-out;
}
.minn li
{
	list-style:none;
	padding:10px;
	cursor:pointer;
	width:340px;
	text-align:center;
}
.minn li:hover
{
	background: #3f729b;
    color: #fff;
    transition: all 1.5s ease-in-out;
}



.head1 a 
{
	padding:20px;
	padding-top:18px;
	text-decoration:none;
	margin:10px;
	color: #fff
}

.head1 a:hover
{
	background:rgba(255, 255, 255, .3);
	transition: all 1s ease-in-out;
	border: 2px solid #C99E67
}


.div1
{
	text-align:center;
	margin:100px;
	font-size: 40px;
	margin-bottom: 40px;
	font-family: 'death';
}

.div1:hover 
{
	/*box-shadow: 1px 1px 8px #e888a2 inset;*/
	transition:all 3s ease-in-out;
	
	text-shadow: 1px 2px 4px #ff253a;
	
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
    transform: rotate(360deg)
}

@font-face {
		
	font-family: 'death';
	src: url(../font/Death_Note_Font_by_Karlibell22.ttf);
}

-webkit-@font-face {
		
	font-family: 'death';
	src: url(../font/Death_Note_Font_by_Karlibell22.ttf);
}

-moz-@font-face {
		
	font-family: 'death';
	src: url(../font/Death_Note_Font_by_Karlibell22.ttf);
}

						/*     start  section      */

.section1
{
	border:2px solid #000000;
	padding:20px;
	display:flex;
	background-color:#333
}

.flower img
{
	width:300px;
	height:350px;
	
	-webkit-animation: flower 25s infinite;
	-moz-animation: flower 25s infinite;
	animation: flower 25s infinite;
	/*transition: all 2s ease-in-out*/
}

@keyframes flower
{
	0% {
		content: url(../images/flower0.jpg);
		transition: all 5s ease-in-out
	}
	10% {
		content: url(../images/flo1.jpg);
		transition: all 5s ease-in-out
	}
	20% {
		content: url(../images/flo4k.png);
		transition: all 5s ease-in-out
	}
	30% {
		content: url(../images/flower5.jpg);
		transition: all 5s ease-in-out
	}
	40% {
		content: url(../images/flower6.jpg);
		transition: all 5s ease-in-out
	}
		
}

-webkit-@keyframes flower
{
	0% {
		content: url(../images/flower0.jpg);
		transition: all 5s ease-in-out
	}
	10% {
		content: url(../images/flo1.jpg);
		transition: all 5s ease-in-out
	}
	20% {
		content: url(../images/flo4k.png);
		transition: all 5s ease-in-out
	}
	30% {
		content: url(../images/flower5.jpg);
		transition: all 5s ease-in-out
	}
	40% {
		content: url(../images/flower6.jpg);
		transition: all 5s ease-in-out
	}
		
}

-o-@keyframes flower
{
	0% {
		content: url(../images/flower0.jpg);
		transition: all 5s ease-in-out
	}
	10% {
		content: url(../images/flo1.jpg);
		transition: all 5s ease-in-out
	}
	20% {
		content: url(../images/flo4k.png);
		transition: all 5s ease-in-out
	}
	30% {
		content: url(../images/flower5.jpg);
		transition: all 5s ease-in-out
	}
	40% {
		content: url(../images/flower6.jpg);
		transition: all 5s ease-in-out
	}
		
}



.flower img:hover
{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	transition:all 1.4s ease-in-out;
	border:2px solid #000000;
}

.container
{
	width:790px;
	margin:50px;
}

.flor
{
	float:right;
	width:300px;
	margin-top:-370px;
	line-height:30px;
	color:#fff
}

.flor .imag
{
	display:flex;
}

.flor .imag img
{
	width:50px;
	
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	
	padding:5px;
}

.flor .imag img:hover
{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	
	transition: all 1.5s ease-in-out;
	
	-webkit-transform: scale(2,2);
	-o-transform: scale(2,2);
	-moz-transform: scale(2,2);
	transform: scale(2,2)
}
						/*     end  section1      */
						
.info
{
	border:1px solid #000000;
	margin-top:30px;
	padding:30px;
	background:#211d1de8;
	-webkit-box-shadow:3px 3px 9px #ff253abd,
			   -3px -3px 9px #0037ffad;
	-moz-box-shadow:3px 3px 9px #ff253abd,
			   -3px -3px 9px #0037ffad;
	box-shadow:3px 3px 9px #ff253abd,
			   -3px -3px 9px #0037ffad;
	color:#c99e67
}

.info:hover 
{
	-webkit-transform:scaleY(0.9);
	-o-transform:scaleY(0.9);
	-moz-transform:scaleY(0.9);
	transform:scaleY(0.9);
	
	transition: all 1.5s ease-in-out;
}

.info a 
{
	text-decoration:none;
	color:black
}

.info h3 a
{
	color:#ccc;
}

.info h3 a:hover
{
	color: #957dde;
    transition: all 1s ease-in-out;  
	text-decoration:underline;
}


hr {margin-top:50px}					
						
						/*     start  articale     */
.article
{
	margin:30px;
	margin-top:50px;
	
}

.Gerbera p {line-height:25px}

.section2
{
	-webkit-perspective:600px;
	perspective:600px;
	display:flex;
}
						
.card1
{
	width:300px;
	height:380px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin:2px;
	
}

.card1:hover
{
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	transition: all 1.5s ease-in-out;
	
}


.card1 > img {backface-visibility:hidden}

.card1 > div
{	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	

.back1,.back2,.back3
{
	padding:100px;
	text-align: center;
	z-index:1;
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	backface-visibility:hidden
}			
	
.back1 {background:#feabad}

.back2 {background:#bde8e4}

.back3 {background:#eed0d8}

.back p {line-height:30px}						

.i {color:#ffeb00}
					
.i:hover 
{
	color:#15aabf;
	transition:all 1.2s ease-in-out;
	-webkit-transform:scale(1.5,1.5);
	-o-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	transform:scale(1.5,1.5)
}																																																
						/*     end  articale1     */
						
						
						/*     staet  articale2     */
.card2
{
	margin:2px;
	position:relative;
	
}

.bac
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:0%;
	text-align:center;
	background-color:#211d1d36;
	/*line-height:300px;*/
	overflow:hidden;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	border-radius:10%;
}

.bac p 
{
	padding:100px; 
	color:#000;
	line-height: 50px;
    font-size: 20px;
}

.card2:hover .bac {height:100%; transition: all 1s ease-in-out; /*border-radius:30%;*/}

.card2 img 
{
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	border-radius:10%;
}

.card2:hover
{
	
	/*transform: scale(0.9,0.9);*/
	-webkit-transform: translate(1px, 10px);
	-o-transform: translate(1px, 10px);
	-moz-transform: translate(1px, 10px);
	transform: translate(1px, 10px);
    transition: all 1s ease-in-out;
}						
						/*     end  articale4     */
						
						
						/*     start  articale5     */

.article1
{
	margin:40px;
	
}

.section3
{
	display:flex;
	text-align:center
}
						
.test
{
	border:1px solid #ccc;
	padding:10px;
	position:relative;
}
	
.bac1
{
	position:absolute;
	left:0;
	top:0;
	width:20%;
	height:10%;
	text-align:center;
	background-color:#15aabf73;
	/*line-height:90px;*/
	overflow:hidden;	
}

.bac1 p 
{
	padding:40px; 
	color:#0a0205;
	line-height: 50px;
    font-size: 20px;
}

.ss {margin:10px; color:#663399}
	
.test:hover .bac1 {height:100%; transition: all 1s ease-in-out; width:100%}					
						
.test:hover
{
	-webkit-transform: scale(0.9,0.9);
	-o-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);
	transform: scale(0.9,0.9);
    transition: all 1s ease-in-out;
}							
											
						/*     end  articale5     */
						
						
						
						
						
						/*     start  articale6     */
.article2
{
	padding: 10px;
    background: #000000;
}

.flex {display:flex;}

.test1 h3
{
	font-size: 16px;
    color: #C99E67;
    font-weight: bold;
    text-transform: capitalize;
	margin:30px;
    margin-bottom: 14px;
	word-spacing: 3px
}

.test1 ul
{
	list-style:none;
	display: inline-block;
    vertical-align: top;
	margin:30px
}

.test1 ul li 
{
	line-height:30px;
	color:#fff;
	margin-left: -40px;
}

.u {margin-left: 40px}
	
/*.u {float:right}*/
	
.font 
{
	text-align:center;
	margin-bottom: 30px;
}
	
.font a{padding:10px; font-size: 30px;}	
	
.face 
{
	color:#3b5998;
}	

.inst {color:#3f729b}	
	
.whats	{color:#25D366}
	
.twit {color:#00acee}	
	
	
.font a:hover
{
	background:#fff; 
	transition:all 1.5s ease-in-out;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%
}
						/*     end  articale6     */						